trigger: none

pool:
 vmImage: ubuntu-latest

  # - stage1 - init, validate and plan
  # - stage2 - code scanning
  # - stage3 - manual validation and apply

stages:
  - stage: initValidatePlan
    displayName: Init Validate and Apply
    jobs:
      - job: initPlan
        displayName: Init and Plan
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: Terraform Init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
            backendServiceArm: 'fire'
            backendAzureRmStorageAccountName: 'statefilesdata'
            backendAzureRmContainerName: 'fire'
            backendAzureRmKey: 'dev.tfstate'

        - task: TerraformTask@5
          displayName: Terraform Plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
            environmentServiceNameAzureRM: 'fire'


      - job: validate
        dependsOn: initPlan
        displayName: Validate
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: Terraform Init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
            backendServiceArm: 'fire'
            backendAzureRmStorageAccountName: 'statefilesdata'
            backendAzureRmContainerName: 'fire'
            backendAzureRmKey: 'dev.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'